.container section {
    width: 80%;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-bottom: 3px solid var(--main-color);
}

.container section:last-child {
    border-bottom: none;
}


@media (min-width: 1081px) {
    .container section {
        width: 70%;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .flex-container div {
        width: 40%;
    }
    .container img {
        width: 50%;
        max-height: 450px;
    }
    /*  Ocupar el flex-direction column
        flex wrap-reverse
        height abosoluta
    */
}