
/* Librerías de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Overpass&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Anton & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Anton &familia= Secular+Uno & display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Overpass', sans-serif;
}

body {
    width: 100vw;
}

main {

    background-color: #111;
}

/* Variables */
:root {
    --main-color: #ea2427;
}

/* */
li {
    list-style-type: none;
}

a:link, a:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

/* Header */
header {
    background-color: #191919;
}

.header-content {
    width: 85%;
    max-width: 950px;

    margin: 0 auto;
    padding: 1.5rem 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: #fff;
}

.logo {
    width: 40%;
}

.logo h1 {
    font-size: 1.5rem;
}

header .fa-computer {
    font-size: 20vw;
}

.header-content ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-content a {
    width: 100%;
    font-size: 1.25rem;
    padding: 0.4rem 0.5rem;
    text-align: right;
}

.header-content a:hover {
    font-weight: bold;
    border-bottom: 3px solid #ea2427;
}

/* .container Background */
.container {
    width: 100%;
    min-height: 35em;
    background-color: #111;
    /* border-top: 3px solid #ea2427; */
    color: #fff;
}



/* Page content */

.container h2 {
    font-size: 2rem;
    padding-top: 4rem;
}

.container h3 {
    font-size: 1.4rem;
    padding-top: 2.75rem;
}

.container p {
    margin-top: 1.5rem;
    line-height: 1.5;
    font-size: 1rem;
}

.container img {
    width: 100%;
    margin-top: 1rem;
    object-fit: cover;
    object-position: center;
}

/* Botones */
.btn-page {
    background-color: var(--main-color);
    font-size: 1rem;
    border-radius: 1.75rem;
    padding: 1.5em;
    margin: 2em auto 2em;
}

.btn-page:hover {
    background-color: #bb1316;
}
/*  */

/* Footer */
footer {
    background-color: #111;
    color: #fff;
    border-top: 3px solid var(--main-color);
}

.footer-content {
    width: 70%;
    margin: 0 auto;
    padding: 1.5rem 0 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-content .fa-computer {
    font-size: 3rem;
}

.footer-content p {
    font-size: 1rem;
}

@media (min-width: 1081px) {
    html {
        font-size: 16px;
    }
    .header-content .logo {
        width: 162px;
    }
    .header-content ul {
        flex-direction: row;
        align-items: center;
    }
    .header-content a {
        width: 140px;
        height: 72px;
    }
    .header-content .fa-computer {
        font-size: 100px;
    }
    .footer-content {
        width: 60%;
    }

    .footer-content .logo {
        width: 20%;
    }
}