{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Building Support</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/6b74d081c2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'app/styles/styles.css' %}">
    {% block estilos %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <i class="fa-solid fa-computer"></i>
                <h1>PC Building Support</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'hardware' %}">Hardware</a></li>
                    <li><a href="{% url 'armar_tu_pc' %}">Armar tu PC</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'ensambles' %}">Ensambles</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">@{{ user.username | title }}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
  
            {% block contenido %}
            {% endblock %}

    </main>

    <footer>
        <div class="footer-content">
            <div class="social-media">
                <h2>Social Media</h2>
                <ul>
                    <li><i class="fa-brands fa-instagram"></i> Instagram</li>
                    <li><i class="fa-brands fa-twitter"></i> Twitter</li>
                    <li><i class="fa-brands fa-square-facebook"></i> Facebook</li>
                    <li><i class="fa-solid fa-envelope"></i> Email</li>
                </ul>
            </div>
            <div class="logo">
                <i class="fa-solid fa-computer"></i>
                <p>PC Building Support</p>
            </div>
        </div>
    </footer>

    {% block js %}
    {% endblock %}
</body>
</html>
